
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: row;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  overflow: hidden;
}
h1 {
  text-align: center;
  font-size: 3rem;
}
.imagen-fondo {
  width: 50%;
  height: 100vh;
}
img {
  height: 100%;
}
.imagen-fondo > img {
  width: 100%;
  object-fit: cover;
}
.fondo2 {
  width: 50%;
  position: absolute;
  right: 0;
}
.fondo-image2{
  width: 100%;
  position: absolute;
  opacity: 0.7;
}
.fondo-image3{
  width: 90%;
  height: 90vh;
  position: absolute;
  margin: 5%;
  opacity: 0.5;
  background: black;
}
.fondo-image2 img {
  height: 100vh;
}
.imagen-fondo2 > img {
  width: 100%;
  object-fit: cover;
}
.texto-fondo {
  position: relative;
  margin: 5%;
  width: 90%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 50px 50px 0 70px;
}
.opciones-img {
  width: 200px;
  height: 150px;
  margin: 5px;
}
.default {
  background: white;
  color: black;
  margin: 20px;
  padding: 10px;
  opacity: 0.7;
}
.default:hover {
  opacity: 1;
}
tr,td{
  padding: 5px;
  text-align: center;
}
.options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  

}
.opc-motor {
  position: absolute;
  padding: 30px 30px ;
  text-decoration: none;
  color: white;
  width: 200px;
  height: 150px;
  font-size: 2rem;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  margin: 5px;
  opacity: 0.1;
  transition: 0.5s;
  text-align: center;
}
.opc-motor:hover {
  opacity: 0.8;
  transition: 0.5s;
}
